<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> Edite su resenia aca </h2>
    <form action="/resenia/editar/<%=resenias.id" method= "POST">
    <div>
        <input type="email" name="email" placeholder= "EMAIL" autofocus>
    </div>
    <input type="password" name="password" placeholder="PASSWORD">
    <div>
        <input type="text" name="title" value= "<%= resenias.id %>" placeholder= "TITLE" autofocus>
    </div>
        <textarea name="description" rows="2" placeholder= "DESCRIPTION"></textarea>
    <div>
        <input type="number" min= "0" max="10" name="puntaje" value= "<%= resenia.puntaje %>" placeholder="PUNTAJE">
    </div>
    <div>
        <button type="Editar">Editar</button>
        <button type="submit">Guardar</button>
    </div>
</form> 
</body> 
</html> 